@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../../public/img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
}

#cta {
    background-image: url("../../public/img/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
}

@media(max-width: 576px) {
    body {
        background-image: url("../../public/img/bg-tablet-pattern.svg");
        background-repeat: no-repeat;
        background-size: 500px;
        background-position: 50px -50px;
    }

    #cta {
        background-image: url("../../public/img/bg-simplify-section-mobile.svg");
        background-repeat: no-repeat;
    }
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width:24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    background-color: #000;
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 2px;
    width: 24px;
    position: absolute;
    transition: all 0.25s;
    transform: rotate(0);
    transition: 0.5s;
}

.hamburger-bottom{
    transform: translateY(7px);
}

.hamburger-top {
    transform: translateY(14px);
}

#menu-btn.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

#menu-btn.open .hamburger-middle {
    display: none;
}

#menu-btn.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}